.dashboard--header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4rem;
	padding: 2rem 2.8rem;
	background-color: rgba(255, 255, 255, 1);
	z-index: 5;

	position: fixed;
	top: 0;
	left: 24rem;
	right: 0;
}

.header--main {
	display: flex;
	align-items: center;
	gap: 2rem;
	width: 22rem;
}
.header--hamburger svg {
	font-size: 2.8rem;
	color: #555;
	cursor: pointer;
}
.header--logo {
	width: 16rem;
}
.header--logo img {
	width: 100%;
}
.header--search {
	min-width: 55rem;
	position: relative;
}
.header--search .form--input {
	border-radius: 100rem;
	box-shadow: 0.5rem 1rem 4rem rgba(0, 0, 0, 0.1);
	border-color: #eee;
}
.header--search .form--input::placeholder {
	font-style: italic;
}
.header--search svg {
	font-size: 1.8rem;
	color: #555;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(-120%, -50%);
}
.header--others {
	display: flex;
	align-items: center;
	gap: 2.4rem;
}
.notification--icon,
.user--profile img {
	width: 4.4rem;
	height: 4.4rem;
	border-radius: 50%;
}
.notification--icon,
.user--profile {
	background-color: rgba(255, 250, 249, 1);
	display: flex;
	align-items: center;
	cursor: pointer;
}
.notification--icon {
	color: var(--primary-1);
	justify-content: center;
}
.notification--icon svg {
	font-size: 2.4rem;
}
.user--profile {
	gap: 0.68rem;
	border-radius: 0.8rem;
	position: relative;
}
.user--profile img {
	object-fit: cover;
}
.user--profile svg {
	color: var(--primary-1);
	font-size: 1.6rem;
}





/*  */
.dashboard--menu,
.dashboard--sidemenu {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.dashboard--menu {
	padding: 3.4rem 2.4rem;
	height: 100vh;
	overflow-y: hidden;
	background-color: var(--primary-1);

	position: fixed;
	top: 0;
	left: 0;
	width: 24rem;
}
.menu--list {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}
.menu--item,
.menu--item:link,
.menu--item:visited {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	color: #fff;
	transition: all 0.3s;
	padding: 1rem;
	border-radius: 0.4rem;
	background-color: transparent;
}
.menu--item.is-active {
	background-color: #b1350f;
}
.menu--icon img {
	width: 2.2rem;
	height: 2.2rem;
}
.menu--text {
	font-size: 1.42rem;
	font-weight: 500;
}
.menu--arrow {
	width: 2rem;
	margin-left: auto;
}

.menu--item.show {
	position: relative;
	margin-bottom: 8rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	backface-visibility: hidden;
}
.menu--subs {
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	transition: all 0.3s;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #be4824;
	border-bottom-left-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
	backface-visibility: hidden;
	overflow: hidden;
}
.menu--subs .menu--item {
	width: 100%;
	padding: 1.28rem 1rem;
	border-radius: 0;
	font-size: 1.4rem;
}
.menu--subs .menu--item.is-active {
	background-color: #ee5627;
}

@media screen and (min-width: 650px) {
	.menu--item:hover {
		background-color: #b1350f;
	}

	.menu--subs .menu--item:hover {
		background-color: #ee5627;
	}
}

.dashboard--sidemenu {
	min-width: 34rem;
	height: 100vh;
	background-color: var(--primary-1);

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;

	padding: 3rem 2rem 2rem;
	display: flex;
	flex-direction: column;
	gap: 4rem;

	overflow-y: auto;
	scrollbar-width: none;
	z-index: 115;
	transition: all 0.3s ease;
	animation: menu-slide-in 0.25s ease-out both;
	transform: translateX(0);
	opacity: 1;
	box-shadow: 0.4rem 0.6rem 4rem rgba(0, 0, 0, 0.1);
}
@keyframes menu-slide-in {
	0% {
		opacity: 0.5;
		transform: translateX(-40rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes menu-slide-out {
    0% { opacity: 1; transform: translateX(0); }
    100% { transform: translateX(-40rem); }
}
.dashboard--sidemenu.animate-out {
    animation: menu-slide-out 0.25s ease-out forwards;
}


.sidemenu--hamburger {
	position: absolute;
	top: 2rem;
	right: 2rem;
	cursor: pointer;
}
.sidemenu--hamburger svg {
	font-size: 2.8rem;
	color: #fff;
}





.dashboard--base {
    transition: all .3s ease;
}

.content--block {
	background-color: rgba(255, 243, 239, 1);
	padding: 12rem 2.4rem 6rem;

	display: flex;
	flex-direction: column;
	justify-content: stretch;
	gap: 3rem;
    width: calc(100% - 24rem);
	margin-left: auto;

	/* cheat-code */
	min-height: 100vh;
}








@media screen and (max-width: 1000px) {
	.header--search {
		min-width: 42rem;
	}
}

@media screen and (max-width: 900px) {
	.header--logo {
		width: 12rem;
	}
	.header--search {
		width: 100%;
		min-width: 32rem;
	}
	.dashboard--base {
		display: block;
	}
	.dashboard--menu {
		display: none;
	}
	.dashboard--header {
		left: 0;
	}
	.content--block {
		width: 100%;
		margin-left: unset;
	}
}

@media screen and (max-width: 750px) {
	.dashboard--header {
		padding: 1.6rem 2rem;
	}
	.header--others {
		gap: 1.4rem;
	}
	.header--search {
		display: none;
	}
	.header--others .header--search {
		border-radius: 100rem;
		display: block;
		min-width: unset;
		width: 70%;
		max-width: 100%;
		box-shadow: 1rem 2rem 5rem rgba(0, 0, 0, 0.2);

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 20;
	}
}

@media screen and (max-width: 450px) {
	.dashboard--header {
		gap: 2.4rem;
		padding: 1.6rem;
	}
	.header--main {
		gap: 1rem;
	}
	.header--logo {
		width: 10rem;
	}
	.header--others {
		gap: 0.6rem;
	}
	.header--others .header--search {
		width: 90%;
	}
	.notification--icon {
		font-size: 2rem;
	}

	.notification--icon,
	.user--profile img {
		width: 4rem;
		height: 4rem;
	}

	.content--block {
		padding: 11rem 1.8rem 6rem;
	}
}

@media screen and (max-width: 400px) {
	.dashboard--sidemenu {
		min-width: 100%;
		width: 100%;
	}
}
